// Copyright (c) 2016, Rogerio Taques
// 
// Permission is hereby granted, free of charge, to any person obtaining a 
// copy of this software and associated documentation files (the "Software"), 
// to deal in the Software without restriction, including without limitation the 
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or 
// sell copies of the Software, and to permit persons to whom the Software is 
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all 
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
// WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR 
// IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Seed CSS
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="A light-weight, mobile first and responsive CSS boilerplate.")
    meta(name="keywords", content="css,boilerplate,javascript,html5,website,site,app,webapp,build,development")
    meta(name="author", content="Rogerio Taques (http://github.com/rogeriotaques)")
    meta(name="copyright", content="Rogerio Taques")
    meta(name="license", content="MIT")
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", type="text/css", href="assets/css/seed.css?v={%version%}")
    link(rel="stylesheet", type="text/css", href="assets/css/style.css?v={%version%}")
  body
  
    header
    
      span#about
    
      .container
        h1 
          | Seed CSS 
          img(src="https://img.shields.io/github/release/rogeriotaques/seed-css.svg", style="max-width:100%;")
        
        p.
          A light-weight, mobile first and responsive CSS boilerplate.

    section.page-navbar
      .container
        nav 
          ul
            li 
              a.spy(href="#about") About 
            li 
              a.spy(href="#get-started") Get started
            li 
              a.spy(href="#examples") Examples
              ul
                li
                  a.spy.uc-first(href="#sample-container") container
                li
                  a.spy.uc-first(href="#sample-grid") grid
                li
                  a.spy.uc-first(href="#sample-typography") typography
                li
                  a.spy.uc-first(href="#sample-buttons") buttons
                li
                  a.spy.uc-first(href="#sample-forms") forms
                li
                  a.spy.uc-first(href="#sample-lists") lists
                li
                  a.spy.uc-first(href="#sample-tables") tables
                li
                  a.spy.uc-first(href="#sample-media-queries") media-queries
                li
                  a.spy.uc-first(href="#sample-utilities") utilities
                li
                  a.spy.uc-first(href="#sample-icons") icons
            li 
              a.spy(href="#showcase") Show Case
            li 
              a.spy(href="#license") License
            li.hide-only-small
              a(href="https://github.com/rogeriotaques/seed-css") Fork me on Github
            li.hide
              a(href="https://github.com/rogeriotaques/seed-css/archive/develop.zip") Download

    section.main 
      .container
      
        br
        
        h2.align-center Why you're gonna love use <b class="primary">Seed CSS</b>?
        
        .grid
          .row
            .col.sm-12.md-4.align-center
              h3
                i.ion-speedometer
                br
                | Quick start
              
              p. 
                Get started to your projects with a very small footprint 
                CSS boilerplate like this.
                
            .col.sm-12.md-4.align-center
                    
              h3 
                i.ion-leaf
                br
                | Light-weight
              
              p. 
                Just <b>11kb</b> of CSS your app needs to load for a 
                mobile first and responsive design.
              
            .col.sm-12.md-4.align-center
              h3 
                i.ion-settings
                br
                | Full customizable
                
              p. 
                All written on Sass, what means you can easily customize it
                as much as you need.
          br
          
          .row
            .col.sm-12.align-center
              a.btn.btn-primary(href="https://github.com/rogeriotaques/seed-css/archive/develop.zip") DOWNLOAD 
          
          .row
            .col.sm-12.align-center
              p (This page design is proudly written with <span class="primary">Seed CSS</span>)
              
        br    
        hr
        
    section
      span#get-started
    
      .container
        h2 Get started
        
        p. 
          Just before get started, please notice that Seed CSS was written with modern browsers in mind. 
          That means it just has support for <b>IE9+</b> (which actually isn't a real modern browser ... but), 
          <b>Chrome</b>, <b>Firefox</b> and <b>Safari</b>, besides mobile browsers. If you need support older browsers, this boilerplate
          may not help you, but, just in case, you're free to customize it and create your own CSS rules to 
          make it supports those older browser versions.
      
        p. 
          The most first thing you need to do to start using <span class="primary" >Seed CSS</span> 
          is import its CSS file into your pages. In order to get the right files, you can either 
          <a href="https://github.com/rogeriotaques/seed-css" >fork</a> this project on Github, or 
          just <a href="https://github.com/rogeriotaques/seed-css/archive/develop.zip" >download</a> 
          the compressed project files to your computer.
      
        p.
          After get the latest version of files, import it to your pages as the example below:
        
        .code-sample
          pre.prettyprint.lang-html. 
            &lt;head &gt;
              ...
              &lt;link href="seed.css" rel="stylesheet" type="text/css" &gt;
            &lt;/head&gt;
            
            
        p.
          Once you have the Seed CSS stylesheet embeded to your site or application, have a look on 
          all code examples below to get inspired about what you can do with it. :)
          
        hr
        
    section
      span#examples
      
      .container
        h2 Examples of code
        
        br
        
    section#sample-container
      .container
        h3 Container
      
        p.
         Containers are used to define an enclosed area with a <code >max-width</code> 
         set to 960px on wide screens.
      
        .sample-container.align-center This's a container.
        
        .code-sample
          pre.prettyprint.lang-html. 
            &lt;div class="container" &gt;&lt;/div&gt;
          
        hr
    
    section#sample-grid
      .container 
        h3 Grid 
        
        p. 
          Grids are commonly used to define "grid" based designs. The grid system is responsive, 
          which means you can define the number of columns according to the screen size and it will 
          adapts its width to best fit your content.
        
        table 
          thead
            tr 
              th Class 
              th Detail
              th Remarks
          tbody 
            tr
              td.nowrap .grid
              td.nowrap &nbsp;
              td Defines the grid container
            tr
              td.nowrap .row
              td.nowrap &nbsp;
              td Defines each row of a grid container
            tr
              td.nowrap .col
              td.nowrap &nbsp;
              td Defines each column of a grid container
            tr
              td.nowrap .sm-*
              td.nowrap (1 ~ 12)
              td Defines a column size for small screens. It's used concatenated to <code >.col</code>
            tr
              td.nowrap .md-*
              td.nowrap (1 ~ 12)
              td Defines a column size for medium screens. It's used concatenated to <code >.col</code
            tr
              td.nowrap .lg-*
              td.nowrap (1 ~ 12)
              td Defines a column size for large screens. It's used concatenated to <code >.col</code
            tr
              td.nowrap .offset-*
              td.nowrap (1 ~ 12)
              td Creates an offset of columns. It's used concatenated to <code >.col</code>
              
        br
        
        h5 Examples
        
        .grid.sample
          .row
            .col.md-6.lg-3.align-center .md-6 .lg-3
            .col.md-6.lg-3.align-center .md-6 .lg-3
            .col.md-6.lg-3.align-center .md-6 .lg-3
            .col.md-6.lg-3.align-center .md-6 .lg-3
        
        .code-sample
          pre.prettyprint.lang-html.
            &lt;!-- This's a grid --&gt;
            &lt;div class="grid" &gt;
              &lt;!-- This's a row. You can have as many rows as you need. --&gt;
              &lt;div class="row" &gt;
                &lt;!-- This's a column. You can have up to 12 columns in a row. --&gt;
                &lt;div class="col sm-12 md-6 lg-3" &gt; ... &lt;/div&gt;
                &lt;div class="col sm-12 md-6 lg-9" &gt; ... &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
        
        br
        
        p Check this examples out.
        
        .grid.sample
          - each i in [1,2,3,4,5,6,7,8,9,10,11,12]
            - var cn = 'sm-' + i
            - var nc = 'sm-' + (12-i)
            .row
              .col.align-center(class=cn)= i
              
              if (12 - i > 0)
                .col.align-center(class=nc)= (12 - i)
          .row
            - each i in [1,2,3,4,5,6,7,8,9,10,11,12]
              .col.sm-1.align-center= i
        
        br
        
        p. 
          Offsets are also available. To apply offsets, just add the sufix <code >-offset</code> to your classname.
          
        p. 
          Check it out how to make a colum spanding 6 with a offset of 3.
        
        .grid.sample
        
          .row
            .col.md-6.offset-3.align-center This' a column of 6 with offset of 3.
        
          .code-sample
            pre.prettyprint.lang-html.
              &lt;div class="grid" &gt;
                &lt;div class="row" &gt;
                  &lt;div class="col sm-6 offset-3" &gt; ... &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        
        hr

    section#sample-typography
      .container
        h3 Typography
        
        p.
          All default HTML tags are supported, including but not limited 
          to the below few examples.
        
        h5 Examples 
        
        .grid
          .row
            .col.sm-12.md-6
              each i in [1,2,3,4,5,6]
                #{'h'+i}= 'Header ' + i
                
            .col.sm-12.md-6
              p. 
                This is an paragraph. <br >
                This is a <b >bold</b> text. <br >
                This is an <i >italic</i> text. <br >
                This is an <u >underlined</u> text. <br >
                This is an <a href="#!">anchor</a> text.
        
        .code-sample
          pre.prettyprint.lang-html.
            &lt;p &gt; ... &lt;/p&gt; 
            &lt;b &gt; ... &lt;/b&gt; 
            &lt;i &gt; ... &lt;/i&gt; 
            &lt;u &gt; ... &lt;/u&gt; 
            &lt;a href="." &gt; ... &lt;/a&gt; 
            
            &lt;!-- Head lines --&gt; 
            &lt;h1 &gt; ... &lt;/h1&gt; 
            &lt;h2 &gt; ... &lt;/h2&gt; 
            &lt;h3 &gt; ... &lt;/h3&gt; 
            &lt;h4 &gt; ... &lt;/h4&gt; 
            &lt;h5 &gt; ... &lt;/h5&gt; 
            &lt;h6 &gt; ... &lt;/h6&gt; 
        
        hr
        
    section#sample-buttons
      .container
        h3 Buttons
        
        p.
          Buttons are a really basic elements on any web page or app, and it 
          comes in two different flavors in Seeds. The standard is plain and 
          the colored has a vibrant primary color. In order to use the primary 
          just add the class name <code >.btn-primary</code>. If you need use 
          anchor (&lt;a /&gt;) as button, include the <code >.btn</code> class 
          name on it.
        
        table 
          thead
            tr 
              th Class 
              th Detail
              th Remarks
          tbody 
            tr
              td.nowrap .btn
              td.nowrap &nbsp;
              td Makes anchors looks like buttons
            tr
              td.nowrap .btn-primary
              td.nowrap &nbsp;
              td Defines a colored button
        
        br
        
        h5 Examples
          
        .buttons.align-center 
          
          a.btn(href="#!") Anchor 
          button(type="button") Button element 
          input(type="button", value="Input button")
          
          br 
          
          a.btn.btn-primary(href="#!") Anchor 
          button.btn-primary(type="button") Button element 
          input.btn-primary(type="button", value="Input button")
          
          br 
          
        .code-sample
          pre.prettyprint.lang-html.
            &lt;!-- .btn class makes an anchor looks like a button --&gt; 
            &lt;a class="btn" href="..." &gt; ... &lt;/a&gt; 
            
            &lt;!-- default buttons and input[type="button"] --&gt;
            &lt;button type="button" &gt; ... &lt;/button&gt; 
            &lt;input type="button" value="..." /&gt;
            
            &lt;!-- .btn-primary makes buttons colored --&gt;
            &lt;a class="btn btn-primary" href="..." &gt; ... &lt;/a&gt; 
            &lt;button class="btn-primary" type="button" &gt; ... &lt;/button&gt; 
            &lt;input class="btn-primary" type="button" value="..." /&gt;

        hr
        
    section#sample-forms
      .container
        h3 Forms
        
        p.
          Probably all websites and apps will contain (at least) one form, so, 
          that's why Seed CSS has a really simple, easy to use and customizable 
          form field stylesheet. Have a look on the examples below:
        
        br 
        
        h5 Examples
        
        .grid
          .row
            .col.sm-12
            
              .field
                label(for="") This is a simple input text 
                input(type="text")
            
              .field
                label(for="") This is a simple input password 
                input(type="password")
            
              .field
                label(for="") This is a simple input email 
                input(type="email", placeholder="name@domain.tld")
            
              .field.seed-select
                label(for="") This is a select/ dropdown 
                select
                  option(value="A") Option A
                  option(value="B") Option B
                  option(value="C") Option C
                  
              .field
                input(type="radio", id="radio-sample")
                label(for="radio-sample") This is a radio button
                  
              .field
                input(type="checkbox", id="check-sample")
                label(for="check-sample") This is a checkbox
                  
              .field
                label(for="") This is a simple textarea 
                textarea
                
                
        .code-sample
          pre.prettyprint.lang-html.
            &lt;!-- Example of an input text --&gt; 
            &lt;div class="field" &gt; 
              &lt;label for="..." &gt; ... &lt;/label&gt;
              &lt;input type="text" name="..." &gt;
            &lt;/div&gt;    
                 
            &lt;!-- Example of an input password --&gt; 
            &lt;div class="field" &gt; 
              &lt;label for="..." &gt; ... &lt;/label&gt;
              &lt;input type="password" name="..." &gt;
            &lt;/div&gt;         
                 
            &lt;!-- Example of an input email --&gt; 
            &lt;div class="field" &gt; 
              &lt;label for="..." &gt; ... &lt;/label&gt;
              &lt;input type="email" name="..." placehoder="..." &gt;
            &lt;/div&gt;         
                 
            &lt;!-- Example of a dropdown --&gt; 
            &lt;div class="field seed-select" &gt; 
              &lt;label for="..." &gt; ... &lt;/label&gt;
              &lt;select name="..." &gt;
                &lt;option value="..." &gt; ... &lt;/option&gt;
                &lt;option value="..." &gt; ... &lt;/option&gt;
                &lt;option value="..." &gt; ... &lt;/option&gt;
              &lt;/select&gt;
            &lt;/div&gt;       
            
            &lt;!-- Example of an input radio --&gt; 
            &lt;div class="field" &gt; 
              &lt;input type="radio" name="..." &gt;
              &lt;label for="..." &gt;
                ...
              &lt;/label&gt;
            &lt;/div&gt;     
            
            &lt;!-- Example of an input radio --&gt; 
            &lt;div class="field" &gt; 
              &lt;input type="checkbox" name="..." &gt;
              &lt;label for="..." &gt; 
                ... 
              &lt;/label&gt;
            &lt;/div&gt;           
                 
            &lt;!-- Example of a textarea --&gt; 
            &lt;div class="field" &gt; 
              &lt;label for="..." &gt; ... &lt;/label&gt;
              &lt;textarea name="..." &gt; ... &lt;/textarea&gt;
            &lt;/div&gt;  
        
        hr
        
    section#sample-lists
      .container
        h3 Lists
        
        p. 
          You can make your lists using <code >DL</code>, <code >UL</code> or <code >OL</code>.
          No special classes are necessary. The style will be applied to the natural element.
        
        h5 Examples
        
        .grid
          .row
            .col.sm-12.md-6
              p Ordered
            
              ol
                li First item
                li Second item 
                  ol
                    li Nested first 
                    li Nested second ...
                li Third item
            
            .col.sm-12.md-6
              p Unordered
            
              ul
                li First item
                li Second item 
                  ul
                    li Nested first 
                    li Nested second ...
                li Third item
        
                
        .code-sample
          pre.prettyprint.lang-html.
            &lt;!-- replace OL by UL or DL for different list types --&gt; 
            &lt;ol &gt; 
              &lt;li &gt; ... &lt;/li&gt;
              &lt;li &gt; ... &lt;/li&gt;
              &lt;li &gt; ... &lt;/li&gt;
            &lt;/ol&gt; 
        
        hr
        
    section#sample-tables
      .container
        h3 Tables
        
        p.
          Tables are supposed to be used for display data. 
          
        p. 
          In that matter, Seed CSS has very special classes to allow you show 
          your data in a very clean and readable way. Basically, just using a 
          default markup for data you'll get a styled table, but, you also can 
          make use of special classes to make your tables even more readable.
        
        br
        
        h5 Examples
        
        p.camel-case
          b default
        
        - each className in ['', 'stripped', 'hovered', 'bordered']
          if className !== ''
            p.camel-case
              b= className
           
          table(class=className) 
            thead
              tr
                th Name 
                th Email
                th Phone
            tbody
              tr 
                td John Wayne
                td john@wayne.com 
                td 123-4567-8900
              tr 
                td John Wayne
                td john@wayne.com 
                td 123-4567-8900
              tr 
                td John Wayne
                td john@wayne.com 
                td 123-4567-8900
            tfoot
              tr
                td
                td
                td
                
          .code-sample
            pre.prettyprint.lang-html.
              &lt;table class="#{className}" &gt; 
                &lt;tbody &gt;
                  &lt;tr &gt;
                    &lt;td &gt; ... &lt;/td&gt;
                    &lt;td &gt; ... &lt;/td&gt;
                    &lt;td &gt; ... &lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/tbody&gt;
              &lt;/table&gt; 
          
          br
        
        hr
        
    section#sample-media-queries
      .container
        h3 Media queries
        
        p. 
          Media queries allows you to make an even more accurated design.
        
        table 
          thead
            tr
              th Query 
              th Remarks
          tbody
            tr 
              td @media only screen and (min-width: 0px) {}
              td Mobile first queries
            tr 
              td @media only screen and (min-width: 320px) {}
              td Larger than mobile
            tr 
              td @media only screen and (min-width: 550px) {}
              td Larger than tablet
            tr 
              td @media only screen and (min-width: 960px) {}
              td Larger than desktop/laptop pc
              
        .code-sample
          pre.prettyprint.lang-css.
            &lt;!-- Mobile first queries --&gt;
            @media only screen and (min-width: 0px) {
              ...
            }
            
            &lt;!-- Larger than mobile --&gt;
            @media only screen and (min-width: 320px) {
              ...
            }
            
            &lt;!-- Larger than tablet --&gt;
            @media only screen and (min-width: 550px) {
              ...
            }
            
            &lt;!-- Larger than desktop/laptop pc --&gt;
            @media only screen and (min-width: 960px) {
              ...
            }
        
        hr
        
    section#sample-utilities
      .container
        h3 Utilities
        
        p. 
          Utilities are classes that can help you to easily show up your data 
          or content in a beatiful way.<br >It can be used combined with other 
          available classes.

        br
        
        .grid
          .row
            .col.sm-12
              h5 Text alignment
              
              table 
                thead
                  tr 
                    th Class 
                    th Remarks
                tbody 
                  tr
                    td.nowrap .align-left
                    td Aligns on left
                  tr
                    td.nowrap .align-right
                    td Aligns on right
                  tr
                    td.nowrap .align-center
                    td Aligns on center
                  tr
                    td.nowrap .align-justify
                    td Aligns justified
              br
              
              p.align-left This is left aligned
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-left" &gt; ... &lt;/p&gt;
              
              br
              
              p.align-center This is center aligned 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-center" &gt; ... &lt;/p&gt;
              
              br
              
              p.align-right This is right aligned 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-right" &gt; ... &lt;/p&gt;
              
              br
              
              p.align-justify.
                This is justified. This is justified. This is justified. This is justified. 
                This is justified. This is justified. This is justified. This is justified. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-justify" &gt; ... &lt;/p&gt;
              
              br
          
          .row
            .col.sm-12    
              h5 Text transform 
              
              table 
                thead
                  tr 
                    th Class 
                    th Remarks
                tbody 
                  tr
                    td.nowrap .nowrap
                    td Forces the HTML to ignore white spaces when wrapping lines.
                  tr
                    td.nowrap .camel-case
                    td Capitalize the first character of any word
                  tr
                    td.nowrap .uc-first
                    td Capitalize the first character only from the first word
              
              br
              
              .code-sample.bg-white
                p.nowrap.
                  This text should not break when the screen width is smaller then 
                  the text length. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="nowrap" &gt; ... &lt;/p&gt;
              
              br
              
              p.camel-case.
                this text should be camel case. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="camel-case" &gt; ... &lt;/p&gt;
              
              br
              
              p.uc-first.
                only the first character of this text should be capitalized. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="uc-first" &gt; ... &lt;/p&gt;
            
            br
            
            .row
              .col.sm-12    
                h5 Hiding 
                
                table 
                  thead
                    tr 
                      th Class 
                      th Remarks
                  tbody 
                    tr
                      td.nowrap .hide
                      td Hide an element in any device.
                    tr
                      td.nowrap .hide-only-small
                      td Hide an element only on small devices only.
                    tr
                      td.nowrap .hide-on-medium-and-down
                      td Hide an element on all devices, except for large ones
            
                .code-sample
                  pre.prettyprint.lang-html.
                    &lt;!-- Hide on all devices --&gt; 
                    &lt;div class="hide" &gt; ... &lt;/div&gt;
                    
                    &lt;!-- Hide on small devices --&gt; 
                    &lt;div class="hide-only-small" &gt; ... &lt;/div&gt;
                    
                    &lt;!-- Hide on medium and small devices --&gt; 
                    &lt;div class="hide-on-medium-and-down" &gt; ... &lt;/div&gt;
            
            br
            
            .row
              .col.sm-12
                h5 Responsive image
                
                p. 
                  By default, all images are considered responsive and will adjust 
                  accordingly to the window size. In case you, for any sake, need a 
                  non responsive image, just add the class <code >.no-responsive</code>
                  on it.
                
                table 
                  thead
                    tr 
                      th Class 
                      th Detail
                      th Remarks
                  tbody 
                    tr
                      td.nowrap .no-responsive
                      td.nowrap &nbsp;
                      td Makes images non responsive
                    tr
                      td.nowrap .circle
                      td.nowrap &nbsp;
                      td Makes a small circle image
                    tr
                      td.nowrap .thumb
                      td.nowrap &nbsp;
                      td Makes a small square image
                
                br
                
                p.align-center 
                  img(src="http://placehold.it/800x600", alt="Sample of a responsive image")
                
                .code-sample
                  pre.prettyprint.lang-html.
                    &lt;img src="..." alt="..." &gt;
                
          br 
          
          .row
            .col.sm-12.md-6
              h5.align-center Circle image 
              
              p.align-center
                img.circle(src="http://placehold.it/100x100", alt="Circle image sample")
            
            .col.sm-12.md-6
              h5.align-center Thumbnail
              
              p.align-center
                img.thumb(src="http://placehold.it/100x100", alt="Thumbnail image sample")
          
          .row 
            .col.sm-12
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;!-- makes a circle image --&gt; 
                  &lt;img class="circle" src="..." alt="..." &gt;
                  
                  &lt;!-- makes a square small image --&gt; 
                  &lt;img class="thumb" src="..." alt="..." &gt;
        
        hr
        
    section#sample-icons
      .container
        h3 Icons
        
        p.
          We're using <b>Ionic Icon Fonts</b> as our set of icons. It's free and 
          can be redistributed as well as Seed CSS.
          
        p. 
          Just to keep the flexibility, the icon set is not included on the 
          Seed CSS stylesheet files. You should import it from an external source. 
          We strongly recommend you to do it from Ionic CDN.
        
        p.
          In order to use those icons, add the following line to the HEAD tag of 
          any page you're using Seed CSS:
          
        .code-sample
          pre.prettyprint.lang-html.
            &lt;link rel="stylesheet" type="text/css" 
                href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"&gt;
        
        br
        
        .grid
          .row
            .col.sm-6.md-4.align-center
              i.icon.ion-ionic(title=".ion-ionic")
            .col.sm-6.md-4.align-center
              i.icon.ion-chevron-right(title=".ion-chevron-right")
            .col.sm-6.md-4.align-center
              i.icon.ion-paper-airplane(title=".ion-paper-airplane")
            .col.sm-6.md-4.align-center
              i.icon.ion-connection-bars(title=".ion-connection-bars")
            .col.sm-6.md-4.align-center
              i.icon.ion-card(title=".ion-card")
            .col.sm-6.md-4.align-center
              i.icon.ion-erlenmeyer-flask(title=".ion-erlenmeyer-flask")
          .row
            .col.sm-12.align-center
              span &hellip; and many other.
        
        br
        
        p 
          | To check all icons available, please refer to: 
          a(href="http://ionicons.com/", target="_blank") http://ionicons.com/
        
        hr
        
    section
      span#showcase
    
      .container
        h3 Showcase
        
        p 
          | Have you build a website or app using Seed CSS? Don't be shy and let me know. 
          br
          | Your creation can be included here, in the showcase. :)
        
        hr
        
    section
      span#license
    
      .container
        h3 License
        
        p.
          This small and humble css boilerplate is licensed under MIT. 
          Find the license itself below:
        
        .copyright-block
        
          p Copyright &copy; 2016, Rogerio Taques

          p. 
            Permission is hereby granted, free of charge, to any person obtaining 
            a copy of this software and associated documentation files 
            (the "Software"), to deal in the Software without restriction, 
            including without limitation the rights to use, copy, modify, merge, 
            publish, distribute, sublicense, and/or sell copies of the Software, 
            and to permit persons to whom the Software is furnished to do so, 
            subject to the following conditions:

          p. 
            The above copyright notice and this permission notice shall be included 
            in all copies or substantial portions of the Software.

          p. 
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
            EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
            IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY 
            CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, 
            TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
            SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        
    footer 
      p.copyright &copy; 2016, Rogerio Taques
      
      .grid
        .row 
          .col.sm-12.md-3.offset-3
            p.align-center. 
              Need support, have suggestions or just would like to drop me a line? <br>
              <a href="https://github.com/rogeriotaques/seed-css/issues" class="btn" >Open an issue at Github</a>
              
          .col.sm-12.md-3
            p.align-center.
              Is this project been useful for you? Why don't you make a 
              donation to supports it? <br >
              <a href="#!" class="btn" >Make a donation</a>
            
        
    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(src="//code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    script(src="assets/js/bundle.js?v={%version%}")
